body{
    font-family: "Libre Baskerville", sans-serif;
    font-style: normal;
    background-color: #f9e3d3;
    color: white;
}

/* HEADER */

header{
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo{
    font-style: italic;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin: 0 55px;
    letter-spacing: 2px;
}

.navbar {
    background-color: rgb(0, 0, 0);
    height: 120px;
}

.navbar .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}
.navbar .navbar-nav .nav-link:hover, .logo:hover{
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-nav .desktop-menu {
    text-align: center;
}

.desktop-menu-active {
    text-decoration: white underline 3px;
    text-underline-offset: 15px;
}

nav ul li:hover{
    text-decoration: white underline 3px;
    text-underline-offset: 15px;
}

.desktop-menu-cont{
    font-size: 1.3em;
}

.navbar-logo-centered .navbar-nav .nav-link {
    padding: .5em 1em;
}

@media (min-width: 960px) and (max-width: 1280px){
    .navbar ul li{
        padding: 0 50px 0 50px;
    }
}

@media (min-width: 1280px){
    .navbar ul li{
        padding: 0 70px;
    }

    .navbar ul .logo{
        padding: 0px 70px 0px 70px;
    }
}

@media (max-width: 960px){
    .d-md-block{
        display: none!important;
    }
    .d-md-none{
        display: block!important;
    }
}

/* HEADER */

/* CAROUSEL */

.video-slide{
    margin: 75px 100px;
    background-color: black;
}

.carousel-inner .carousel-item .carousel-caption{
    justify-self: center;
}

.carousel-indicators li{
    margin-top: -145px;
    width: 15%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
}

#carouselExampleCaptions .carousel-control-prev, .carousel-control-next{
    top: 40%;
    bottom: 40%;
}

.carousel-control-prev{
    margin-left: 100px;
}

.carousel-control-next{
    margin-right: 100px;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

/* CAROUSEL */

/* FEATURES */

.img-features-container{
    margin: 0;
    width: 100%;
}

.features-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    position: relative;
    text-align: center;
    color: white;
    margin: 0 25px;
}

.cards h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opacity{
    width: 500px;
    height: 500px;
    object-fit: cover;
    filter: brightness(50%);
    box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -webkit-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -moz-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
}

.description{
    width: 185px;
    font-size: 30px;
}

.description2{
    width: 165px;
    font-size: 30px;
}

.description3{
    width: 185px;
    font-size: 30px;
}

.description-italic{
    font-style: italic;
}

/* FEATURES */

/* BRANDS */

.brands-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand{
    position: relative;
    margin: 95px 35px 0 35px;
}

.brand-image{
    width: 480px;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -webkit-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -moz-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
}

/* BRANDS */

/* SHOP */

.shop h2, .shop a{
    text-align: center;
    color: #773400;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 75px;
    margin: 95px 0;
}

.shop a:hover{
    text-decoration: none;
}

.shop-images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-image{
    margin: 0 25px;
}

.shop-image img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -webkit-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -moz-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
}

.shop-banner{
    text-align: center;
    background-color: black;
    width: 63.1%;
    margin: 95px auto;
    padding: 15px;
}

.shop-banner h3, .shop-banner h4{
    letter-spacing: 2px;
    font-size: 45px;
}

/* SHOP */

/* PRODUCTS SLIDE */

.products-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 95px;
}

.products-slide-text{
    margin-right: 30px;
}

.products-slide-text h4{
    text-align: center;
    color: #773400;
    font-family: 'Libre Baskerville', serif;
    font-weight:bolder;
    font-size: 85px;
    width: 350px;
    margin: auto;
    padding-bottom: 25px;
}

.products-slide-text p{
    font-family: 'Libre Baskerville', serif;
    color: rgb(83, 83, 83);
    text-align: center;
    font-size: 30px;
    width: 440px;
    margin: auto;
}

.products-slide-images img{
    width: 250px;
    height: 600px;
    object-fit: cover;
    margin-right: 35px;
    box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -webkit-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -moz-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
}

/* PRODUCTS SLIDE */

/* CONTACT */

.contact-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 95px;
}

.contact-image img{
    width: 800px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -webkit-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -moz-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    margin-right: 95px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text h4{
    text-align: center;
    color: #773400;
    font-family: 'Libre Baskerville', serif;
    font-weight:bolder;
    font-size: 85px;
    margin: auto;
    padding: 45px;
}

.contact-button{
    background: #ffc2bf;
    border-radius: 1000px;
    box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -webkit-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    -moz-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    padding:    10px 45px;
    color:  #000000;
    font-size: 25px;
    font-weight: 700;
    display:    inline-block;
    text-align: center;
}

.contact-button:hover{
    text-decoration: none;
    color:  #000000;
    background: #fdd6d4;
}

/* CONTACT */

footer{
    background-color: #000000;
    color: white;
}

hr {
    background-color: #000000;
    border: none;
    border-bottom: black 2px;
    height: 1px;
}

@media (max-width: 1200px){
    .navbar{
        height: 60px;
        padding: .5em 0;
    }

    .navbar-toggler{
        margin: 0 10px;
    }

    .navbar-collapse{
        background-color: black;
        padding: 10px;
    }

    .logo{
        font-size: 18px;
    }

    #carouselExampleCaptions{
        display: none;
    }

    .mobile-video{
        background-color: black;
        width: 90%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
    }

    .mobile-video video{
        width: 90%;
        height: 150px;
    }

    .features-cards{
        display: none;
    }

    .features-banner, .brands-banner-mobile, .instagram-footer{
        width: 90%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        text-align: center;
        margin: 30px auto;
        font-size: 10px;
    }

    .features-banner p{
        margin-bottom: 0;
    }

    .brands-banner{
        display: none;
    }

    .shop{
        display: none;
    }

    .shop-mobile, .new-products, .contact-us{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/img/13.jpeg);
        text-align: center;
        color: #773400;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        font-size: 75px;
        margin: 30px auto;
        width: 90%;
        height: 150px;
        background-position: center;
        background-size: cover;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .products-slide{
        display: none;
    }

    .contact-cta{
        display: none;
    }

    .products-slide-mobile{
        color: black;
        display: flex;
        align-items: center;
    }

    .products-slide-text-mobile{
        width: 145px;
    }

    .products-slide-text-mobile h4{
        text-align: center;
        color: #773400;
        font-family: 'Libre Baskerville', serif;
        font-weight:bolder;
        font-size: 15px;
        width: 80px;
        margin: auto;
        padding-bottom: 25px;
    }

    .products-slide-text-mobile p{
        font-family: 'Libre Baskerville', serif;
        color: rgb(83, 83, 83);
        text-align: center;
        font-size: 10px;
        width: 100px;
        margin: auto;
    }

    .products-slide-images-mobile{
        margin-right: 10px;
    }

    .products-slide-images-mobile img{
        width: 95px;
        height: 200px;
        object-fit: cover;
        margin-right: 10px;
        box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
        -webkit-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
        -moz-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    }

    .new-products{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/img/8.jpeg);
        background-position: 0 -20px;
    }

    .new-products h2{
        width: 150px;
    }

    .brands-banner-mobile, .instagram-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .brand-mobile{
        margin: 0 auto;
    }

    .brand-mobile img{
        width: 70px;
        height: 30px;
        object-fit: cover;
        box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
        -webkit-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
        -moz-box-shadow: 0px 3px 16px 3px rgba(36,36,36,0.39);
    }

    .contact-us{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/img/3.jpeg);
        background-position: 0 -20px;
    }

    .nav-footer{
        display: none;
    }

    footer{
        background-color: transparent;
    }

    .logo-footer{
        color: black;
        text-align: center;
        font-style: italic;
        font-weight: 700;
    }

    .logo-footer hr{
        width: 90%;
        border: initial;
        height: 2px;
        margin: 10px auto;
    }

    .instagram-footer h2{
        font-size: 16px;
        font-weight: 400;
    }

    .instagram-footer a{
        color: white;
        text-decoration: none;
    }

    .instagram-footer a:hover{
        color: white;
        text-decoration: none;
    }

}

@media (min-width: 546px) and (max-width: 1200px){
    .logo{
        font-size: 26px;
    }

    .mobile-video, .mobile-video video{
        height: 300px;
    }

    .features-banner{
        height: 100px;
    }

    .features-banner p{
        font-size: 16px;
    }

    .products-slide-mobile{
        justify-content: center;
    }

    .products-slide-text-mobile{
        width: 320px;
    }

    .products-slide-text-mobile h4{
        font-size: 26px;
    }

    .products-slide-text-mobile p{
        width: 220px;
        font-size: 22px;
    }

    .products-slide-images-mobile img{
        width: 125px;
        height: 270px;
    }

    .shop-mobile{
        background-position: 0 -30px;
    }

    .new-products{
        background-position: 0 -170px;
    }

    .brands-banner-mobile{
        height: 120px;
    }

    .brand-mobile img{
        width: 150px;
        height: 50px;
    }

    .contact-us{
        background-position: 0 -160px;
    }
}

@media (min-width: 1201px){
    .mobile-video, .features-banner, .shop-mobile, .products-slide-mobile, .new-products, .brands-banner-mobile, .contact-us, .logo-footer, .instagram-footer{
        display: none;
    }
}